@import "./variables.scss";

@mixin font(
  $font-size,
  $font-weight: normal,
  $line-height: 20px,
  $color: $dark,
  $font-style: normal,
  $font-family: $global-font-family
) {
  color: $color;
  font-weight: $font-weight;
  font-size: $font-size;
  font-family: $font-family;
  font-style: $font-style;
  line-height: $line-height;
}
